{% extends 'mailing/base.html' %}

{% block content %}
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/media/mailing/1.jpg"
                     alt="Card image cap">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Менеджер рассылок</h1>
                        <p class="opacity-100">Вы можете создать, посмотреть список, отредактировать, удалить рассылку.</p>
                        <p><a class="btn btn-lg btn-outline-light" href="{% url 'mailing:mailing_list' %}">К рассылкам</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/media/mailing/2.jpg"
                     alt="Card image cap">
                <div class="container">
                    <div class="carousel-caption text-dark">
                        <h1>Список клиентов</h1>
                        <p class="opacity-100">Вы можете создать, посмотреть список, отредактировать, удалить клиента.</p>
                        <p><a class="btn btn-lg btn-outline-dark" href="{% url 'mailing:client_list' %}">К клиентам</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/media/mailing/3.jpg"
                     alt="Card image cap">
                <div class="container">
                    <div class="carousel-caption text-end text-start">
                        <h1>Сообщения для рассылок</h1>
                        <p>Вы можете создать, посмотреть список, отредактировать, удалить сообщения для рассылок.</p>
                        <p><a class="btn btn-lg btn-outline-light" href="{% url 'mailing:message_list' %}"
                        >
                            К сообщениям
                        </a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}